:root {
  --color-deloitte: #86bc25;
  --color-link: #0072c6;
  --color-teal-primary: #0d8390;
  --color-teal1: #ddefe8;
  --color-teal2: #9dd4cf;
  --color-teal3: #6fc2b4;
  --color-teal4: #00abab;
  --color-teal5: #0097a9;
  --color-teal6: #007680;
  --color-teal7: #004f59;
  --color-blue-primary: #007cb0;
  --color-blue1: #a0dcff;
  --color-blue2: #62b5e5;
  --color-blue3: #00a3e0;
  --color-blue4: #0076a8;
  --color-blue5: #005587;
  --color-blue6: #012169;
  --color-blue7: #041e42;
  --color-green-primary: #26890d;
  --color-green1: #e3e48d;
  --color-green2: #c4d600;
  --color-green4: #43b02a;
  --color-green5: #009a44;
  --color-green6: #046a38;
  --color-green7: #2c5234;
  --color-gray2: #d0d0ce;
  --color-gray4: #bbbcbc;
  --color-gray6: #a7a8aa;
  --color-gray7: #97999b;
  --color-gray9: #75787b;
  --color-gray10: #63666a;
  --color-gray11: #53565a;
  --color-danger: #da291c;
  --color-danger-gl: #b3261e;
  --color-danger-bg: #f9dedc;
  --color-dark: #252525;
}
